body {
    background: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 10px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(1,1,0,45deg);
    animation: rotate 10s infinite;
}

.face {
    width: 200px;
    height: 200px;
    border: rgb(10, 10, 10) solid 3px;
    position: absolute;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    transform: translateZ(100px);
    background: rgb(190, 220, 250);
}
.back {
    transform: translateZ(-100px);
    background: rgb(152, 172, 248);
}
.left {
    transform: translateX(-100px) rotateY(-90deg);
    background: rgb(120, 100, 230);
}
.right {
    transform: translateX(100px) rotateY(90deg);
    background: rgb(192, 96, 161);
}
.top {
    transform: translateY(-100px) rotateX(-90deg);
    background: rgb(3, 196, 161);
}
.bottom {
    transform: translateY(100px) rotateX(90deg);
    background: rgb(21, 4, 133);
}

@keyframes rotate {
    30% {
        transform: rotate3d(1,1,0,360deg);
    } 70% {
        transform: rotate3d(0,-2,0,-180deg);
    } 100% {
        transform: rotate3d(1,1,0,45deg);
    }
}
